<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="Sys" connectionString="DATA SOURCE=192.168.11.158:1521/EBSDB;PASSWORD=EBS_SYS;PERSIST SECURITY INFO=True;USER ID=EBS_SYS"
        providerName="Oracle.ManagedDataAccess.Client" />
      <add name="RPT" connectionString="DATA SOURCE=192.168.11.158:1521/EBSDB;PASSWORD=EBS_ERP;PERSIST SECURITY INFO=True;USER ID=EBS_ERP"
        providerName="Oracle.ManagedDataAccess.Client" />
      <add name="RPTSER.Properties.Settings.ConnSQL" connectionString="DATA SOURCE=192.168.11.158:1521/TESTDB;PERSIST SECURITY INFO=True;USER ID=EBS_ERP"
        providerName="Oracle.ManagedDataAccess.Client" />
      <add name="GIC" providerName="SqlServer" connectionString="Server=192.168.0.222;database=GICWEBDB;uid=thi_mis;pwd=tecthi8686" />
    </connectionStrings>
    <appSettings >
      <add key="templatePath" value="\Tmplate\" />
      <add key="outputPath" value="\..\群創Output\" />
    </appSettings >
</configuration>